<label>Server Name</label>
<!--<input 
type="text"
class="form-control"
(input)="onUpdateServerName($event)">-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" [(ngModel)]="serverName">
      <!-- <span>{{ serverName }}</span> -->
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add
        Server</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--<span [innerText]="allowNewServer"></span>-->
      <!-- <span>{{ serverCreationStatus }}</span> -->
      <span *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</span>
      <!-- <span *ngIf="!serverCreated">No server was created!</span> -->
      <ng-template #noServer>
        <span>No server was created</span>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-server *ngFor="let server of servers"></app-server>
    </div>
  </div>
</div>